:root {
    --color-naranja-principal: #EA7900;
    --color-fondo-secundario: #363a45;
    --color-negro: #000000;
    --color-rojo: #FF0000;
    --color-verde: #008000;
    --color-azul: #0000FF;
    --color-amarillo: #FFFF00;
    --color-blanco: #FFFFFF;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.calculator {
    width: 100%;
    max-width: 380px;
    border: none;
    box-shadow: none;
    border-radius: 0;
    overflow: visible;
    padding: 15px;
    background-color: transparent;
    position: relative;
    z-index: 10;
}

.menu-btn-≡ {
    position: absolute;
    top: -30px;
    width: 40px;
    height: 40px;
    font-size: 2.5rem;
    background-color: #333333;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    z-index: 15;
    transition: background-color 0.1s;
}

.menu-btn-⋮ {
    position: absolute;
    top: -30px;
    width: 40px;
    height: 40px;
    font-size: 2rem;
    background-color: #333333;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    z-index: 15;
    transition: background-color 0.1s;
}

.menu-btn:hover {
    background-color: #555555;
    transform: scale(1.05);
}

.options-btn {
    right: 15px;
}

.hamburger-btn {
    left: 15px;
}

.calculator-screen-container {
    width: 100%;
    height: 100px;
    background-color: #000000;
    border: 3px solid #EA7900;
    border-radius: 10px;
    box-sizing: border-box;
    margin-bottom: 15px;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    padding: 5px 20px;
}

.expression-line, .result-line {
    white-space: nowrap;
    display: block;
    min-width: 100%;
    text-align: right;
    overflow: visible;
}

.expression-line {
    font-size: 1.2rem;
    color: #999;
}

.result-line {
    font-size: 3rem;
    color: #fff;
    transition: font-size 0.2s;
}

.result-line.large {
    font-size: 4rem;
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 8px;
    background-color: transparent;
    border-radius: 5px;
}

button {
    height: 65px;
    font-size: 1.8rem;
    border: none;
    background-color: #333333;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.1s, transform 0.1s;
    font-weight: 500;
    border-radius: 8px;
    user-select: none;
}

button:hover {
    background-color: #555555;
    transform: scale(1.02);
}

.operator {
    background-color: #EA7900;
    color: #fff;
}

.operator:hover {
    background-color: #cc6600;
}

.aux-btn {
    background-color: #EA7900;
    color: #fff;
}

.aux-btn:hover {
    background-color: #cc6600;
}

.all-clear {
    background-color: #EA7900;
    color: #fff;
}

.all-clear:hover {
    background-color: #cc6600
}

.equal-sign {
    background-color: #2ecc71;
    color: #fff;
}

.equal-sign:hover {
    background-color: #2ecc71;
    color: #fff;
}

button:focus,
.calculator-keys button:focus {
    outline: none !important;
    box-shadow: none !important;
}

.hidden {
    display: none !important;
}

.close-menu-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 310;
    transition: background-color 0.1s;
}

.close-menu-btn:hover {
    background-color: #c0392b;
}

.close-rect-btn {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.1s;
    font-size: 1.5rem;
    font-weight: bold;
    width: 60px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.close-rect-btn:hover {
    background-color: #c0392b;
}

.side-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 60%;
    height: 100vh;
    background-color: #EA7900;
    border-right: 2px solid #A35400;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    padding: 20px;
    display: flex;
    flex-direction: column;
    z-index: 300;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    color: #ffffff; 
}
.side-menu.open {
    transform: translateX(0);
}

.side-menu::-webkit-scrollbar {
    display: none;
}

.side-menu h3 {
    color: #000000;
    margin-top: 15px;
    margin-bottom: 10px;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 5px;
    font-size: 1.3rem;
}

.side-menu button:not(#close-side-menu) {
    background-color: #A35400;
    color: #ffffff;
    border: none;
    height: 50px;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 5px;
    margin: 5px 0;
    transition: background-color 0.2s, color 0.2s;
}

.side-menu button:not(#close-side-menu):hover {
    background-color: #000000;
    color: #ffffff;
    transform: scale(1.0);
}

.modal-options-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: block;
    z-index: 30;
}

.modal-options {
    background: #333;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    position: absolute;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
    min-width: 200px;
}

.modal-options .option-btn {
    width: 100%;
    height: 45px;
    margin: 4px 0;
    background: #555;
    color: #fff;
    font-size: 1rem;
    border-radius: 6px;
}
.modal-options .option-btn:hover {
    background: #666;
}
.modal-options .option-btn:last-child {
    background-color: var(--color-naranja-principal);
}

.history-floating-menu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    max-width: 90vw;
    height: 300px;
    max-height: 90vh;
    background: #444;
    border: 2px solid var(--color-naranja-principal);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
    resize: both;
    overflow: hidden;
    z-index: 40;
    cursor: move;
}

.history-floating-menu header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    cursor: grab;
}

.history-floating-menu header button {
    height: 30px;
    width: 30px;
    font-size: 1rem;
}

.history-content {
    height: calc(100% - 40px);
    overflow-y: auto;
    padding-right: 5px;
    cursor: default;
}

.history-item {
    padding: 10px;
    border-bottom: 1px solid #555;
    margin-bottom: 5px;
    cursor: pointer;
    transition: background-color 0.1s;
    border-radius: 5px;
}

.history-item:hover {
    background-color: #555;
}

.history-expression {
    display: block;
    font-size: 0.9rem;
    color: #ffffff;
    text-align: right;
}

.history-result {
    display: block;
    font-size: 1.5rem;
    color: #ffffff;
    font-weight: bold;
    text-align: right;
}

.full-screen-view {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1a1a1a;
    color: #fff;
    z-index: 50;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
}

.full-screen-view header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 90%;
    max-width: 600px;
}

.collapsible-btn {
    background-color: var(--color-fondo-secundario);
    color: #fff;
    cursor: pointer;
    padding: 15px;
    width: 90%;
    max-width: 600px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.2rem;
    transition: background-color 0.2s;
    border-radius: 8px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.collapsible-btn:hover {
    background-color: #4a4f5d;
}

.collapsible-btn i {
    transition: transform 0.3s ease-in-out;
}

.collapsible-btn.active i {
    transform: rotate(180deg);
}

.collapsible-content {
    padding: 0 18px;
    width: 100%;
    max-width: 600px;
    overflow: hidden;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
    max-height: 0;
    opacity: 0;
}

.collapsible-content.open {
    max-height: 500px;
    opacity: 1;
    padding-bottom: 20px;
}

.collapsible-content .game-container {
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.full-screen-view h2,
.full-screen-view p {
    width: 90%;
    max-width: 600px;
    text-align: center;
    margin-top: 10px;
}

.app-list-download {
    max-width: 600px;
    margin: 20px auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-grow: 0;
    overflow-y: visible;
    padding-bottom: 20px;
}

.app-item-download {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: var(--color-fondo-secundario);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.app-name-icon {
    font-size: 1.1em;
    color: #fff;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 8px;
}

.download-buttons {
    display: flex;
    gap: 10px;
}

.download-btn {
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.9em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

.download-btn i {
    margin-right: 5px;
    font-size: 1.1em;
}

.apk-btn {
    background-color: #2F80ED;
    color: #fff;
    border: 1px solid #2F80ED;
}

.apk-btn:hover {
    background-color: #1a6ac9;
}

.download-footer {
    text-align: center;
    width: 90%;
    max-width: 600px;
    margin: 10px auto;
    padding-bottom: 20px;
}
.support-button {
    display: inline-block;
    padding: 15px 30px;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: #FF5E5B;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    font-weight: bold;
    font-size: 1.3em;
    transition: background-color 0.3s ease;
    box-shadow: 0 6px #d14745;
    border: none;
    cursor: pointer;
}